---
layout: base
---

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" style="margin-top: 10rem"
     role="main">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="../assets/img/riwaj-about-2.jpg" alt="Riwaj Image About" class="about-img">
        </div>
        <div class="col-12 col-md-6">
            <div class="intro__wrapper">
                <h1 class="about-intro">
                    Hello there! 👋 <br>
                    My name is Riwaj Shrestha.
                </h1>
                <p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.75;
    font-size: 0.875rem; font-weight: 600">
                    I'm your friendly neighborhood frontend developer and designer, on a mission to make the web a more
                    visually captivating and user-friendly place.
                    <br>
                    When I'm not crafting pixel-perfect masterpieces, you can find me battling with stubborn CSS bugs or
                    having deep conversations with my plant collection (they're great listeners).
                    Join me on this coding rollercoaster, where we'll defy gravity and create websites that are out of
                    this world!
                </p>
            </div>

        </div>
    </div>
    <div class="row py-5">
        <div class="col-12">
            <div class="and-i-am">
                <h3 style="text-align: center">...and I am...</h3>
                <ul style="font-family: 'Open sans', sans-serif; margin-top: 1rem">
                    <li>Frontend developer👨‍💻 by day, designer by night, and coffee enthusiast 24/7! 🕘</li>
                    <li>Making the web🌐 a prettier place, because who wants an ugly internet? 🤷</li>
                    <li>Bringing your wildest design dreams to life, as long as they don't involve Comic Sans.😬🤪</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="row py-5">
        <div class="col-12 col-md-6">
            <div class="intro__wrapper">
                <h3 class="about-intro-2">
                    Lover of clean code and clean design✨, except when it comes to my desk (that's a beautiful mess)🫧
                </h3>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="../assets/img/riwaj-about-3.jpg" alt="Riwaj Image About" class="about-img">
        </div>

    </div>

    <div class="row py-5">
        <div class="col-12">
            <div class="skill-wrap">
                <h3 style="text-align: center">My Skills</h3>
                <ul class="skills-list">
                    <li>Angular <img src="https://cdn3.emoji.gg/emojis/6573_angular.png" alt="angular"></li>
                    <li>React <img src="https://cdn3.emoji.gg/emojis/3203-reactjs.png" alt="reactjs"></li>
                    <li>Figma 🤷</li>
                    <li>Photoshop <img src="https://cdn3.emoji.gg/emojis/6030-photoshop.png" alt="Photoshop"></li>
                    <li>HTML<img src="https://cdn3.emoji.gg/emojis/HTML.png" alt="HTML"></li>
                    <li>CSS <img src="https://cdn3.emoji.gg/emojis/css.png" alt="css"></li>
                    <li>JS <img src="https://cdn3.emoji.gg/emojis/8009-java-js.png" alt="Java_Js"></li>
                </ul>
            </div>
        </div>
    </div>
</div>

