---
layout: base
---

<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" style="margin-top: 10rem" role="main">
    <div class="row">
        <div class="col-12 col-md-6">
            <img src="../assets/img/riwaj-about-2.jpg" alt="Riwaj Image About" class="about-img">
        </div>
        <div class="col-12 col-md-6">
            <div class="intro__wrapper">
                <h1 class="about-intro">
                    Hello there! 👋 <br>
                    My name is Riwaj Shrestha.
                </h1>
                <p style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; line-height: 1.75;
    font-size: 0.875rem;">
                    I'm your friendly neighborhood frontend developer and designer, on a mission to make the web a more visually captivating and user-friendly place.
                    When I'm not crafting pixel-perfect masterpieces, you can find me battling with stubborn CSS bugs or having deep conversations with my plant collection (they're great listeners).
                    Join me on this coding rollercoaster, where we'll defy gravity and create websites that are out of this world!
                </p>
            </div>

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <h3 style="text-align: center">...and some of my characteristics</h3>
            <p style="text-align: center">
                - Frontend developer by day, designer by night, and coffee enthusiast 24/7! 🕘  <br>
                - Turning caffeine☕ into beautiful websites, one pixel at a time. <br>
                - Making the web🌐 a prettier place, because who wants an ugly internet? <br>
                - Bringing your wildest design dreams to life, as long as they don't involve Comic Sans.💬 <br>
                - Lover of clean code and clean design✨, except when it comes to my desk (that's a beautiful mess).🫧
            </p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12">
            <h3 >Skills</h3>
            <ul>
                <li>Angular</li>
                <li>React</li>
                <li>Figma</li>
                <li>AWS</li>
            </ul>
        </div>
    </div>
</div>

